In [66]:
from fetcher import get_player_form
import pandas as pd

In [67]:
LAST_GAMEWEEK = 4

In [68]:
players = get_player_form(LAST_GAMEWEEK)

In [69]:
players_df = pd.DataFrame(players)

players_df['xG'] = players_df['xG'].astype(float)
players_df['xA'] = players_df['xA'].astype(float)
players_df['key_passes'] = players_df['key_passes'].astype(int)
players_df['shots'] = players_df['shots'].astype(int)
players_df['goals'] = players_df['goals'].astype(int)
players_df['assists'] = players_df['assists'].astype(int)
players_df['npxG'] = players_df['npxG'].astype(float)
players_df['xG+A'] = players_df['xG'] + players_df['xA']

In [70]:
# Get Top 5 based on Attacking Point per Club
players_df['attacking_point'] = (players_df['goals'] * 5) + (players_df['assists'] * 3)
players_df_sort = players_df.sort_values(by='attacking_point', ascending=False).groupby('team_title').head(5)
players_df_sort = players_df_sort[(players_df_sort.attacking_point >= 10)]
players_df_sort = players_df_sort[(players_df_sort.npxG >= 1)]
# players_df_sort = players_df_sort.sort_values(by=['team_title','attacking_point'], ascending=[True,False])
players_df_sort[['player_name','team_title', 'attacking_point', 'goals', 'assists', 'shots', 'npxG', 'key_passes', 'games', 'time']]

,player_name,team_title,attacking_point,goals,assists,shots,npxG,key_passes,games,time
0,Harry Kane,Tottenham,25,5,0,14,1.641722,2,4,360
1,Alexander Isak,Newcastle United,20,4,0,11,1.721626,4,4,284
2,Callum Wilson,Newcastle United,18,3,1,5,1.669405,3,4,137
4,Jack Harrison,Leeds,18,3,1,9,1.350787,5,4,359
5,Ollie Watkins,Aston Villa,18,3,1,13,2.351092,2,4,360
9,Jack Grealish,Manchester City,16,2,2,7,1.179449,5,3,270
3,Erling Haaland,Manchester City,15,3,0,8,1.913712,0,2,161
15,Gabriel Martinelli,Arsenal,13,2,1,9,1.779511,3,3,255
76,Kaoru Mitoma,Brighton,11,1,2,8,1.211696,6,4,350
7,Granit Xhaka,Arsenal,10,2,0,4,1.098972,3,3,270
12,Gabriel Jesus,Arsenal,10,2,0,6,1.539841,1,3,97

In [71]:
# Get Potential based on Attacking Point per Club
players_df_potential = players_df.drop(players_df_sort.index)

In [72]:
players_df_potential_sort = players_df_potential.sort_values(by='xG', ascending=False).groupby('team_title').head(2)
players_df_potential_sort = players_df_potential_sort[(players_df_potential_sort.attacking_point > 0)]
players_df_potential_sort = players_df_potential_sort[(players_df_potential_sort.xG > 1.2)]
players_df_potential_sort = players_df_potential_sort[(players_df_potential_sort.shots >= 10)]
players_df_potential_sort = players_df_potential_sort.sort_values(by=['team_title','xG'], ascending=[True,False])
players_df_potential_sort[['player_name','team_title', 'xG', 'goals', 'assists', 'shots', 'games', 'time']]

,player_name,team_title,xG,goals,assists,shots,games,time
32,Dominic Solanke,Bournemouth,3.094983,1,0,17,4,359
11,Ivan Toney,Brentford,2.492538,2,0,13,4,360
63,Alexis Mac Allister,Brighton,1.248445,1,0,14,4,347
41,Kai Havertz,Chelsea,3.312629,1,0,15,4,332
28,Andreas Pereira,Fulham,1.561487,1,0,18,4,338
24,Marcus Rashford,Manchester United,2.332157,1,1,11,4,352
40,Said Benrahma,West Ham,1.337282,1,0,14,4,275

In [73]:
players_df_def = players_df[(players_df.position.str.contains("D"))]
players_df_def = players_df_def[(players_df_def.attacking_point > 0)]
players_df_def = players_df_def[(players_df_def.shots > 2)]
players_df_def = players_df_def.sort_values(by=['shots', 'xG'], ascending=[False, False])
players_df_def[['player_name','team_title', 'position', 'xG', 'goals', 'assists', 'shots', 'games', 'time']]

,player_name,team_title,position,xG,goals,assists,shots,games,time
31,Michael Keane,Everton,D,0.942565,1,0,7,4,360
52,Pedro Porro,Tottenham,D,0.661611,1,1,7,4,360
46,Lewis Dunk,Brighton,D,0.499095,1,0,6,4,360
20,Ivan Perisic,Tottenham,D S,0.317020,1,1,6,3,234
29,Kurt Zouma,West Ham,D,0.920436,1,0,5,4,360
80,Fabian Schär,Newcastle United,D,0.335638,0,1,5,4,360
65,Luke Ayling,Leeds,D,0.657541,1,0,4,4,360
161,James Tarkowski,Everton,D,0.184019,0,1,4,4,360
53,Naif Aguerd,West Ham,D,0.627083,1,0,3,3,270
43,Gabriel,Arsenal,D,0.304577,1,0,3,3,269
230,Timothy Castagne,Leicester,D,0.207965,0,1,3,4,360
34,Pontus Jansson,Brentford,D S,0.176163,1,0,3,4,196
313,Wout Faes,Leicester,D,0.081522,0,1,3,4,360

In [74]:
players_df_def = players_df[(players_df.position.str.contains("D"))]
players_df_def = players_df_def[(players_df_def.xG >= 1)]
players_df_def = players_df_def[(players_df_def.shots > 3)]
players_df_def = players_df_def.sort_values(by=['xG'], ascending=[False])
players_df_def[['player_name','team_title', 'position', 'xG', 'goals', 'assists', 'shots', 'games']]

Empty DataFrame
Columns: [player_name, team_title, position, xG, goals, assists, shots, games]
Index: []

In [85]:
# Sort player per team
players_df_club = players_df[(players_df.team_title == "Arsenal")]
players_df_club = players_df_club[(players_df_club.xG >= 0.6)]
players_df_club = players_df_club.sort_values(by=['shots'], ascending=[False])
players_df_club[['player_name','team_title', 'position', 'attacking_point', 'xG', 'goals', 'assists', 'shots', 'key_passes', 'games', 'time']]

,player_name,team_title,position,attacking_point,xG,goals,assists,shots,key_passes,games,time
15,Gabriel Martinelli,Arsenal,F,13,1.779511,2,1,9,3,3,255
12,Gabriel Jesus,Arsenal,F S,10,2.301010,2,0,6,1,3,97
7,Granit Xhaka,Arsenal,M,10,1.098972,2,0,4,3,3,270
56,Ben White,Arsenal,D,8,0.646034,1,1,1,2,3,258